.header{ 
position: absolute;
width: 1440px;
height: 140px;
left: 0px;
top: 0px;

/* white */
background: #FFFFFF;

    /* margin: auto;  헤더 전체를 가운데 정렬 */

    /*display:flex; 가로로 일렬 정렬
    justify-content: center;
    align-items: center;*/
}

.icon{
    position: absolute;
    width: 50px;
    height: 49.75px;
    left: 240px;
    top: 45px;
    background: url(./png/Do-IT_logo.png);
}

.title{
    position: absolute;
    width: 69px;
    height: 45px;
    left: 300px;
    top: 46px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */


    /* black */
    color: #2C3441;
}


.user{
    position: absolute;  /*절대적 위치*/
    width: 50px;
    height: 49.75px;
    left: 1150px;
    top: 45px;

    background: url(./png/account_icon.png);
}

/*image_slide*/

.image_slide{
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 140px;

background: url(./png/image.png), #F2F2F2;
}

.slide_button{
    position: absolute;
    width: 80px;
    height: 80px;



    background: url(./png/Ellipse_3.png);
    background-size: contain;
    opacity: 0.8; /* 투명도 0~1 */
}
.preview_position{
    left: 100px;
    top: 300px; /*부모 기준*/
}
.next_position{
    left: 1260px; /*1440-100-80*/
    top: 300px; /*부모 기준*/
}


.signal{
    position: absolute;
    width: 20px;
    height: 40px;
    left:28px;
    top:20px;

    background: url(./png/to_left.png);
    background-size: cover;
}

.rotate{
    left:32px;
    transform: rotate(-180deg);
}

/*notice 태그*/

.notice{
    position: absolute;
    width: 1440px;
    height: 355px;
    left: 0px;
    top: 740px;
}

.notice_text{
    position: absolute;
    width: 120px;
    height: 45px;
    left: 240px;
    top: 10px;

    /* subtitle */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800; /*굵기*/
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */

    color: #000000;
}

.more_text{
    position: absolute;
    width: 62px;
    height: 27px;
    left: 1146px;
    top: 18px;

    /* main */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */

    color: #000000;
}

.notice_box{
    position: absolute;
    width: 1440px;
    height: 290px;
    left: 0px;
    top: 65px;

    /* light_gray */

    background: #F3F6F8;
}