.header{ 
position: absolute;
width: 1440px;
height: 140px;
left: 0px;
top: 0px;

/* white */
background: #FFFFFF;

    /* margin: auto;  헤더 전체를 가운데 정렬 */

    /*display:flex; 가로로 일렬 정렬
    justify-content: center;
    align-items: center;*/
}

.icon{
    position: absolute;
    width: 50px;
    height: 49.75px;
    left: 240px;
    top: 45px;
    background: url(./png/Do-IT_logo.png);
}

.title{
    position: absolute;
    width: 69px;
    height: 45px;
    left: 300px;
    top: 46px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */


    /* black */
    color: #2C3441;
}


.user{
    position: absolute;  /*절대적 위치*/
    width: 50px;
    height: 49.75px;
    left: 1150px;
    top: 45px;

    background: url(./png/account_icon.png);
}

/*image_slide*/

.image_slide{
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 140px;

background: url(./png/image.png), #F2F2F2;
}

.slide_button{
    position: absolute;
    width: 80px;
    height: 80px;



    background: url(./png/Ellipse_3.png);
    background-size: contain;
    opacity: 0.8; /* 투명도 0~1 */
}
.preview_position{
    left: 100px;
    top: 300px; /*부모 기준*/
}
.next_position{
    left: 1260px; /*1440-100-80*/
    top: 300px; /*부모 기준*/
}


.signal{
    position: absolute;
    width: 20px;
    height: 40px;
    left:28px;
    top:20px;

    background: url(./png/to_left.png);
    background-size: cover;
}

.rotate{
    left:32px;
    transform: rotate(-180deg);
}

/*notice 태그*/

.notice{
    position: absolute;
    width: 1440px;
    height: 355px;
    left: 0px;
    top: 740px;
}

.notice_text{
    position: absolute;
    width: 120px;
    height: 45px;
    left: 240px;
    top: 10px;

    /* subtitle */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800; /*굵기*/
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */

    color: #000000;
}

.more_text{
    position: absolute;
    width: 62px;
    height: 27px;
    left: 1146px;
    top: 18px;

    /* main */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */

    color: #000000;
}

.notice_box{
    position: absolute;
    width: 1440px;
    height: 290px;
    left: 0px;
    top: 65px;

    /* light_gray */

    background: #F3F6F8;
}

.small_box{
    position: absolute;
    width: 210px;
    height: 210px;
    top: 40px;

    background: #FFFFFF;
}

.sb_1{
    left:240px;
}

.sb_2{
    left:490px;
}

.sb_3{
    left: 740px;
}

.sb_4{
    left: 990px;
}


.sb_title{
    position: absolute;
    
    left: 9.52%;
    right: 11.9%;
    top: 9.52%;
    bottom: 59.52%;

    /* subheading */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 65px;
    /* or 180% */


    /* black */

    color: #2C3441;
}

.sb_date{
    position: absolute;

    left: 9.52%;
    right: 57.14%;
    top: 77.62%;
    bottom: 9.52%;

    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */


    /* gray */

    color: #BAC0C1;
}

.detailed_notice{
    position: absolute;
    width: 960px;
    height: 566px;
    left: 240px;
    top: 1495px;
}

.dn_box{
    position: absolute;
    width: 460px;
    height: 233px;
}

.dn_2{
    left: 500px;
}

.dn_3{
    top:333px;
}

.dn_4{
    left: 500px;
    top:333px;
}

.dn_title{
position: absolute;

/* subtitle */
right: 36.87%;
bottom: 80.69%;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 45px;
/* identical to box height, or 180% */


/* black */

color: #2C3441;
}

.dn_more{
position: absolute;
left: 79.35%;
right: 2.62%;
top: 7.73%;
bottom: 80.69%;

/* main */

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
/* identical to box height, or 180% */

text-align: right;

/* black */

color: #2C3441;
}

.dn_line{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 19.31%;
    bottom: 80.69%;

    /* black */

    border: 1px solid #2C3441;
}

.dn_notice_title{
    position: absolute;
    left: 0%;
    top: 27.9%;

    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */


    /* black */

    color: #2C3441;
}

.dn_notice_date{
    position: absolute;
    right: 0.11%;
    top: 27.9%;

    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */

    text-align: right;

    /* gray */

    color: #BAC0C1;
}

.dn_n2{
    top: 48.07%;
}

.dn_n3{
    top: 68.24%;
}

.dn_n4{
    top: 88.41%;
}


/* 백준랭킹*/

.rank_title{
    position: absolute;
    width: 120px;
    height: 45px;
    left: 240px;
    top: 2261px;

    /* subtitle */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */


    color: #000000;
}

.rank_full{
    /* Rectangle 14 */


    position: absolute;
    width: 1440px;
    height: 510px;
    left: 0px;
    top: 2326px;

    /* light_gray */

    background: #F3F6F8;
}

.rank_box{
    position: absolute;
    left: 240px;
    top: 40px;
    width: 960px;
    height: 130px;

    /* white */

    background: #FFFFFF;
}

.rb2{
    top: 190px;
}

.rb3{
    top: 340px;
}

.rank_icon{
    /* gold_icon */


    position: absolute;
    left: 40px;
    top: 40px;

}

.rank_name{
    position: absolute;
    left: 455px;
    top: 47px;

    /* subheading */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 180% */


    color: #000000;
}

/*우리들의 사진*/

.photo_part{
    position: absolute;

    width: 960px;
    height: 399px;
    left: 240px;
    top: 3036px;
}

.photo_text{
    /* 우리들의 사진 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */


    color: #000000;
}

.photo_more{
    position: absolute;
    width: 80px;
    height: 27px;
    left: 906px;
    top: 18px;

    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */


    color: #000000;
}

.photo_box{
    width: 210px;
    height: 127px;

    /* light_gray */

    background: #F3F6F8;
}

.pb_up{
    position: absolute;
    top:105px;
}

.pb_down{
    position: absolute;
    top:272px;
}

.photo_posi_1{
    position: absolute;
    left:250px;
}

.photo_posi_2{
    position: absolute;
    left:500px;
}

.photo_posi_3{
    position: absolute;
    left:750px;
}

.calender_part{

    position: absolute;
    width: 1440px;
    height: 702px;
    left: 0px;
    top: 3635px;

    /* light_gray */

    background: #F3F6F8;

}

.calender_title{
    /* 2022년 12월 */


    position: absolute;
    width: 200px;
    height: 45px;
    left: 250px;
    top: 40px;

    /* subtitle */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */


    /* black */

    color: #2C3441;
}

.calender_box{
    /* calander */


    position: absolute;
    width: 957px;
    height: 537px;
    left: 240px;
    top: 125px;
}

.week_box{
    width: 135px;
    height: 27px;

    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */


    /* black */

    color: #2C3441;
}

.Sun{
    position: absolute;
    left:0px;
}

.Mon{
    position: absolute;
    left:137px;
}

.Tue{
    position: absolute;
    left:274px;
}

.Wed{
    position: absolute;
    left: 411px;
}

.Thr{
    position: absolute;
    left:548px;
}

.Fri{
    position: absolute;
    left:685px;
}

.Sat{
    position: absolute;
    left:822px;
}

.gray_date_box{

    width: 135px;
    height: 80px;
       
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */
    
    
    /* gray */
    
    color: #BAC0C1;

    background: #FFFFFF;
}
.black_date_box{

    width: 135px;
    height: 80px;
       
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */
    
    color: #2C3441;

    background: #FFFFFF;
}

.check_box{
    width: 136px;
    height: 30px;
       
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */
    
    color: #2C3441;

    background: #8ECBF8;
}

.week1{
    position: absolute;
    top:47px;
}

.week2{
    position: absolute;
    top:129px;
}

.weekcheck2{
    position: absolute;
    top:159px;
}

.week3{
    position: absolute;
    top:211px;
}

.weekcheck3{
    position: absolute;
    top:241px;
}

.week4{
    position: absolute;
    top:293px;
}

.week5{
    position: absolute;
    top:375px;
}

.floor{
    position: absolute;
    width: 1439.5px;
    height: 151.5px;
    left: 0.5px;
    top: 4537px;
}

.floor_line{
    position: absolute;
    width: 1439.5px;
    height: 0px;
    left: 0.5px;

    /* light_gray */

    border: 2px solid #F3F6F8;
    }
.floorbox{
    position:absolute;
    top:60.5px;
    width: 360px;
    height: 91px;
}
.floor_title{
    position: absolute;
    width: 279px;
    height: 27px;


    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */


    /* black */

    color: #2C3441;
}

.floor_spec{
    position: absolute;
    width: 360px;
    height: 80px;
    top: 37px;

    /* main */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height, or 180% */


    /* black */

    color: #2C3441;
}

.doit{
    position:absolute;
    left: 339.5px;
}

.executives{
    position:absolute;
    left: 739.5px;
}

